#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(10px);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.61);
  width: 100%
}

.search-container p {
  font-weight: bold;
}

.search-container input {
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid rgba(51, 51, 51, 0.329); 
  outline: none;              
  padding: 8px 12px;    
  width: 80%;
  font-family: "Lexend", sans-serif;
}

.search-container input:focus {
  border: 2px solid rgba(102, 102, 102, 0.329); 
}

.search-container button {
  background-color: rgba(0, 0, 0, 0.123);  
  backdrop-filter: blur(10px);            
  border-radius: 10px;
  border: 2px solid rgba(51, 51, 51, 0.329);
  outline: none;
  padding: 8px 12px;
  width: 10rem;                          
  font-family: "Lexend", sans-serif;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;    
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hover effect */
.search-container button:hover {
  border: 2px solid rgba(102, 102, 102, 0.329); 
  background-color: rgba(0, 0, 0, 0.2);        
}

.autocomplete-results {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  max-height: 200px; /* optional scroll if too many results */
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px; /* bottom corners rounded */
  border: 2px solid rgba(51, 51, 51, 0.329);
  border-top: none; /* connect with input */
  z-index: 10;
}

.autocomplete-results li {
  padding: 8px 12px;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  color: white;
  transition: background 0.2s ease;
}

.autocomplete-results li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
