.maincontainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.styledbutton {
  background-color: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid rgba(51, 51, 51, 0.329);
  outline: none;
  padding: 8px 12px;
  width: 10rem;
  font-family: "Lexend", sans-serif;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.results-container {
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(10px);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.61);
  width: 100%;
}

.results-item {
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(10px);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.61);
  width: auto;
  display: flex;
  justify-content: space-between;
}

#stop-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#stop-info h2 {
  margin: 0;
  font-size: 1.5em;
}

#stop-info h3 {
  margin: 0;
  font-size: 1em;
}

#stop-actions {
  margin-left: 10px;
}

.stops {
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(10px);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.61);
  width: 100%;
}
